apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodered
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodered
  template:
    metadata:
      labels:
        app: nodered
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: nodered
          image: dkv6/nodered:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 1880
